<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hjfod.betteredit/tab-create.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{109,67}</string>
			<key>spriteSourceSize</key>
			<string>{109,67}</string>
			<key>textureRect</key>
			<string>{{0,0},{109,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/tab-delete.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{105,89}</string>
			<key>spriteSourceSize</key>
			<string>{105,89}</string>
			<key>textureRect</key>
			<string>{{111,0},{105,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/tab-edit.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{82,82}</string>
			<key>spriteSourceSize</key>
			<string>{82,82}</string>
			<key>textureRect</key>
			<string>{{218,0},{82,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/tab-view.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{91,63}</string>
			<key>spriteSourceSize</key>
			<string>{91,63}</string>
			<key>textureRect</key>
			<string>{{302,0},{91,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v-borders.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{73,78}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{0,69},{73,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v-bpm-lines.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{73,79}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{218,84},{73,79}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v-dash-lines.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{73,79}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{80,91},{73,79}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v-duration-lines.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{73,75}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{299,93},{73,75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v-effect-lines.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{73,75}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{0,144},{73,75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v-grid.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{63,70}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{161,159},{63,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v-ground.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{73,69}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{77,166},{73,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v-highlight.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{59,78}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{233,168},{59,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v-hitboxes.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{73,67}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{313,168},{73,67}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v-indicators-all.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1.5}</string>
			<key>spriteSize</key>
			<string>{69,72}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{0,219},{69,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v-indicators-blocky.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1.5}</string>
			<key>spriteSize</key>
			<string>{73,72}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{152,224},{73,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v-indicators-cluster-outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{73,70}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{227,229},{73,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v-indicators-trigger-to-trigger.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{73,75}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{74,237},{73,75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v-indicators.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{73,68}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{302,243},{73,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v-ldm.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{57,25}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{0,290},{57,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v-particles.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{69,62}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{151,298},{69,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v-position-line.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{73,79}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{222,301},{73,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v-preview-mode.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{73,32}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{59,312},{73,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v-pulse.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{69,68}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{297,313},{69,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v-rotation.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{71,67}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{0,346},{71,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v-shaders.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{73,57}</string>
			<key>spriteSourceSize</key>
			<string>{73,79}</string>
			<key>textureRect</key>
			<string>{{73,346},{73,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>hjfod.betteredit/ViewTabSheet-hd.png</string>
		<key>size</key>
		<string>{380,413}</string>
		<key>textureFileName</key>
		<string>hjfod.betteredit/ViewTabSheet-hd.png</string>
	</dict>
</dict>
</plist>