<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>elohmrow.death_tracker/alignCenter.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,33}</string>
			<key>spriteSourceSize</key>
			<string>{32,33}</string>
			<key>textureRect</key>
			<string>{{0,0},{32,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/alignLeft.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,33}</string>
			<key>spriteSourceSize</key>
			<string>{32,33}</string>
			<key>textureRect</key>
			<string>{{35,0},{32,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/alignRight.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,33}</string>
			<key>spriteSourceSize</key>
			<string>{32,33}</string>
			<key>textureRect</key>
			<string>{{70,0},{32,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/angry.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,98},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/bored.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{89,103},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/caluclator.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{0,34},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/dtpixel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{105,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/from-zero.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{34,34},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/graph_button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{60,40}</string>
			<key>spriteSourceSize</key>
			<string>{60,40}</string>
			<key>textureRect</key>
			<string>{{70,34},{60,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/happy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{34,111},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/layout_button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,1.5}</string>
			<key>spriteSize</key>
			<string>{28,29}</string>
			<key>spriteSourceSize</key>
			<string>{45,46}</string>
			<key>textureRect</key>
			<string>{{0,68},{28,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/minus_button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{19,20}</string>
			<key>spriteSourceSize</key>
			<string>{19,20}</string>
			<key>textureRect</key>
			<string>{{31,69},{19,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/normal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,132},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/run.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{53,76},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/sleeping.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{68,137},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/squareGlow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{25,25}</string>
			<key>spriteSourceSize</key>
			<string>{25,25}</string>
			<key>textureRect</key>
			<string>{{89,76},{25,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/tiltedNormal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{34,145},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/worried.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,166},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>elohmrow.death_tracker/dt-sheet.png</string>
		<key>size</key>
		<string>{130,198}</string>
		<key>textureFileName</key>
		<string>elohmrow.death_tracker/dt-sheet.png</string>
	</dict>
</dict>
</plist>