<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>elohmrow.death_tracker/alignCenter.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{65,66}</string>
			<key>spriteSourceSize</key>
			<string>{65,66}</string>
			<key>textureRect</key>
			<string>{{0,0},{65,66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/alignLeft.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{65,66}</string>
			<key>spriteSourceSize</key>
			<string>{65,66}</string>
			<key>textureRect</key>
			<string>{{68,0},{65,66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/alignRight.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{65,66}</string>
			<key>spriteSourceSize</key>
			<string>{65,66}</string>
			<key>textureRect</key>
			<string>{{136,0},{65,66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/angry.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{122,149},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/bored.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{188,154},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/caluclator.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{204,0},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/dtpixel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{5,5}</string>
			<key>spriteSourceSize</key>
			<string>{5,5}</string>
			<key>textureRect</key>
			<string>{{204,60},{5,5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/from-zero.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{0,67},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/graph_button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{120,80}</string>
			<key>spriteSourceSize</key>
			<string>{120,80}</string>
			<key>textureRect</key>
			<string>{{70,67},{120,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/happy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,203},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/layout_button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,3}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{91,92}</string>
			<key>textureRect</key>
			<string>{{211,60},{51,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/minus_button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{39,40}</string>
			<key>spriteSourceSize</key>
			<string>{39,40}</string>
			<key>textureRect</key>
			<string>{{192,113},{39,40}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/normal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{66,215},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/run.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{0,135},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/sleeping.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{132,220},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/squareGlow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{70,149},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/tiltedNormal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{198,220},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/worried.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,269},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>elohmrow.death_tracker/dt-sheet-hd.png</string>
		<key>size</key>
		<string>{263,333}</string>
		<key>textureFileName</key>
		<string>elohmrow.death_tracker/dt-sheet-hd.png</string>
	</dict>
</dict>
</plist>