<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>elohmrow.death_tracker/alignCenter.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-0.5}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{130,132}</string>
			<key>textureRect</key>
			<string>{{0,0},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/alignLeft.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-0.5}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{130,132}</string>
			<key>textureRect</key>
			<string>{{133,0},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/alignRight.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-0.5}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{130,132}</string>
			<key>textureRect</key>
			<string>{{266,0},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/angry.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{129,128}</string>
			<key>spriteSourceSize</key>
			<string>{129,128}</string>
			<key>textureRect</key>
			<string>{{100,292},{129,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/bored.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{129,128}</string>
			<key>spriteSourceSize</key>
			<string>{129,128}</string>
			<key>textureRect</key>
			<string>{{231,371},{129,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/caluclator.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,3.5}</string>
			<key>spriteSize</key>
			<string>{109,109}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{399,0},{109,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/dtpixel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{10,10}</string>
			<key>textureRect</key>
			<string>{{510,0},{10,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/from-zero.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3.5}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{399,111},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/graph_button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{240,160}</string>
			<key>spriteSourceSize</key>
			<string>{240,160}</string>
			<key>textureRect</key>
			<string>{{0,130},{240,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/happy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{129,128}</string>
			<key>textureRect</key>
			<string>{{362,371},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/layout_button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4.5,6}</string>
			<key>spriteSize</key>
			<string>{97,98}</string>
			<key>spriteSourceSize</key>
			<string>{182,184}</string>
			<key>textureRect</key>
			<string>{{242,130},{97,98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/minus_button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{77,79}</string>
			<key>spriteSourceSize</key>
			<string>{78,80}</string>
			<key>textureRect</key>
			<string>{{242,229},{77,79}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/normal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{129,128}</string>
			<key>spriteSourceSize</key>
			<string>{129,128}</string>
			<key>textureRect</key>
			<string>{{0,422},{129,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/run.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3.5}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{323,241},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>elohmrow.death_tracker/sleeping.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{129,128}</string>
			<key>spriteSourceSize</key>
			<string>{129,128}</string>
			<key>textureRect</key>
			<string>{{131,501},{129,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/squareGlow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{98,98}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{0,292},{98,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/tiltedNormal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{129,128}</string>
			<key>spriteSourceSize</key>
			<string>{129,128}</string>
			<key>textureRect</key>
			<string>{{262,501},{129,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>elohmrow.death_tracker/worried.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{129,128}</string>
			<key>spriteSourceSize</key>
			<string>{129,128}</string>
			<key>textureRect</key>
			<string>{{393,501},{129,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>elohmrow.death_tracker/dt-sheet-uhd.png</string>
		<key>size</key>
		<string>{530,629}</string>
		<key>textureFileName</key>
		<string>elohmrow.death_tracker/dt-sheet-uhd.png</string>
	</dict>
</dict>
</plist>