<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>km7dev.gdps-switcher/edit.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,46}</string>
			<key>textureRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>km7dev.gdps-switcher/export.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2.5,1}</string>
			<key>spriteSize</key>
			<string>{145,144}</string>
			<key>spriteSourceSize</key>
			<string>{150,150}</string>
			<key>textureRect</key>
			<string>{{48,0},{145,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>km7dev.gdps-switcher/gdlogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{125,125}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{0,146},{125,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>km7dev.gdps-switcher/import.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2.5,0.5}</string>
			<key>spriteSize</key>
			<string>{145,143}</string>
			<key>spriteSourceSize</key>
			<string>{150,150}</string>
			<key>textureRect</key>
			<string>{{127,146},{145,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>km7dev.gdps-switcher/switchServer.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-6.5}</string>
			<key>spriteSize</key>
			<string>{142,137}</string>
			<key>spriteSourceSize</key>
			<string>{168,168}</string>
			<key>textureRect</key>
			<string>{{0,291},{142,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>km7dev.gdps-switcher/GS_serverSheet02-hd.png</string>
		<key>size</key>
		<string>{272,428}</string>
		<key>textureFileName</key>
		<string>km7dev.gdps-switcher/GS_serverSheet02-hd.png</string>
	</dict>
</dict>
</plist>