<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>km7dev.gdps-switcher/edit.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{23,23}</string>
			<key>spriteSourceSize</key>
			<string>{23,23}</string>
			<key>textureRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>km7dev.gdps-switcher/export.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{74,74}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{25,0},{74,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>km7dev.gdps-switcher/gdlogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{62,62}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{0,76},{62,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>km7dev.gdps-switcher/import.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{74,74}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{64,76},{74,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>km7dev.gdps-switcher/switchServer.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3.5}</string>
			<key>spriteSize</key>
			<string>{74,71}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{0,152},{74,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>km7dev.gdps-switcher/GS_serverSheet02.png</string>
		<key>size</key>
		<string>{138,223}</string>
		<key>textureFileName</key>
		<string>km7dev.gdps-switcher/GS_serverSheet02.png</string>
	</dict>
</dict>
</plist>